.project-action {
  padding: 1rem;
  background: #c6cec8;
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

label {
  border: none;
  cursor: pointer;
  inline-size: 30px;
  padding: 0.5rem 1rem;
  user-select: none;
  border-radius: 0.5rem;
  font: var(--content);
  font-weight: 550;
  color: #090909;
}
input[id="list"]:checked ~ .project-action [for="list"],
input[id="grid"]:checked ~ .project-action [for="grid"] {
  background: var(--blue18);
}
